<div ng-cloak="" style="padding-top: 30px" class="text-center" ng-hide="isLog()">

    <h1>Contacts</h1>
    <p class="lead">
        Our team is best!
    </p>
    <p>
        <b style="font-size: 25px"> Andrei Vasilevitch - Manager          </b>
        <a class="btn btn-success btn-lg"> Email me </a>
    </p>
    <p>
        <b style="font-size: 25px"> Andrei Vasilevitch - Supplier          </b>
        <a class="btn btn-success btn-lg"> Email me </a>
    </p>
    <p>
        <b style="font-size: 25px"> Andrei Vasilevitch - Agent          </b>
        <a class="btn btn-success btn-lg"> Email me </a>
    </p>
</div>