<div ng-cloak="" style="padding-left:20px; padding-right:20px;" ng-show="isLog()" style="padding-top: 50px">

    <img src="/img/angularjs-logo.png" alt="test" />
    <h2>Welcome to AVP Hotel Booking!!!</h2>
    <p class="lead">
        Welcome to the AVP Hotel Booking application!
    </p>

</div>

<div ng-cloak="" class="text-center" ng-hide="isLog()" style="padding-top: 100px">

    <h1>Welcome!</h1>
    <p class="lead">
        Welcome to the AVP Hotel Booking application!
        Get started quickly by signing up.
    </p>
    <hr/>
    <p>
        <a href="/login" ng-click="toLogin()" class="btn btn-success btn-lg">Sign up</a>
    </p>
</div>